<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <hr>
  <form action="/signin" method="POST">
    <input type="email" name="email" placeholder="E-mail"><br>
    <input type="password" name="password" placeholder="Senha"><br>
    <button type="submit">Login</button><br>
    <a href="/register">Registrar</a>
  </form>
</body>
</html>